<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
    <script th:src="@{/layui/layui.js}"></script>
</head>
<body>

    <image th:if="${advertising.format=='jpg'}"
           th:src="@{'/file/'+${advertising.source}}" width="320" height="240"/>
    <video th:if="${advertising.format=='mp4'}" th:src="@{'/file/'+${advertising.source}}" width="320" height="240" controls="controls"/>
<script>
    layui.use('form', function(){
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function(data){
            layer.msg(JSON.stringify(data.field));
            return false;
        });
    });

</script>
</body>
</html>