<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
    <script th:src="@{/layui/layui.js}"></script>
</head>
<body>
<form class="layui-form" method="POST" action="/UploadController/upload" enctype="multipart/form-data">
    <input style="height:30px" type="file" name="file" />
    <input style="height:30px" type="text" name="client" placeholder="所属客户"/>
    <input style="height:30px" type="submit" value="提交" /><br/>
</form>
    <table class="layui-table">
        <colgroup>
            <col width="150">
            <col width="200">
            <col>
        </colgroup>
        <thead>
        <tr>
            <th>名称</th>
            <th>客户</th>
            <th colspan="2">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr  th:each="advertising,iterStat : ${advertisingList}">
            <td th:text="${advertising.source}">Mark</td>
            <td th:text="${advertising.client}">Otto</td>
            <td>
                <a style="" th:href="@{/AdvertisingController/advertisingDisplayOne(id=${advertising.id})}">查看</a>
                <a th:href="@{/AdvertisingController/toDistribution(advertisingId=${advertising.id})}">分发</a>
                <a th:href="@{/AdvertisingController/advertisingDelete(id=${advertising.id})}">删除</a>
            </td>
        </tr>
        </tbody>
    </table>

<script>
    layui.use('form', function(){
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function(data){
            layer.msg(JSON.stringify(data.field));
            return false;
        });
    });

</script>
</body>
</html>