<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>广告轮播系统</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/advertising.css}">
    <script th:src="@{/layui/layui.js}"></script>
</head>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <div class="layui-header">
        <div class="layui-logo">广告轮播系统</div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <img th:src="@{/image/user.jpg}" class="layui-nav-img">
                <span th:text="*{user.getName()}">hah</span>
        <!--        <dl class="layui-nav-child">
                    <dd>
                        <a th:href="@{/userController/toMessage(userName=${user.getUserName()})}" target="contentFrame">个人信息</a>
                    </dd>
                    <dd>
                        <a  th:href="@{/userController/toUpdateMessage(userName=${user.getUserName()})}" target="contentFrame">修改个人信息</a>
                    </dd>
                </dl>-->
            </li>
            <li class="layui-nav-item"><a th:href="@{/userController/toExit}" >退出</a></li>
        </ul>
    </div>
    <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
              <!--  <li class="layui-nav-item">
                    <a th:href="@{/AreaController/areaDisplay}" target="contentFrame">区域</a>
                </li>-->
                <li class="layui-nav-item">
                    <a th:href="@{/TerminalController/terminalDisplay}"
                       target="contentFrame">终端</a>
                </li>
                <li class="layui-nav-item">
                    <a th:href="@{/AdvertisingController/advertisingDisplay}"
                       target="contentFrame">广告</a>
                </li>
                <li class="layui-nav-item">
                    <a th:href="@{/UploadController/toUpload}"
                       target="contentFrame">广告上传</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- 内容主体区域 -->
 <!--   <div class="layui-body body">
        <iframe class="iframe" name="contentFrame"
                th:src="@{/userController/toMainPage(userName=${user.getUserName()})}"></iframe>
    </div>-->
    <div class="layui-body">
        <div>
            <iframe name="contentFrame" class="my-iframe"></iframe>
        </div>
    </div>
    <!-- 底部固定区域 -->
    <div class="layui-footer">
        xxx公司电话号码   12345678911
    </div>
</div>

<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;
    });
</script>
</body>
</html>
