* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding:5px;
}

/* 头部样式 */
.header {
    background-color: #f1f1f1;
}

/* 创建三个相等的列 */
.column1 {
    float: left;
    width: 80%;
    border: 1px solid black;
    height: 435px;

}

.column2 {
    float: left;
    width: 20%;
    border: 1px solid black;
    height: 435px;
}

/* 列后清除浮动 */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#v1{
    display: none;
    width:100%;
    height: 100%;
}
#banner{
    display:none;
    width:100%;
    height:100%;
}

.button{
    display:inline-block;
    width:48%;
}

.list{
    display:none;
}