

.body{
    background-color:yellow;
    background-image:url("bg/bg1.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    background-size:1280px 750px;
}
.hello{
     font-size: 50px;
     margin-top: 10px;
     margin-left:30%;
 }
.form{
    background-color: white;
    height: 330px;
    width: 350px;
    margin: 100px auto;
    text-align: center;
}
.font{
    font-size: 30px;
}
.input {
     width: 250px;
     height: 30px;
     margin-top: 10px;
 }
.radio{
     margin-top: 30px;
    text-align: left;
    margin-left: 50px;
 }



.button{
    margin-top:30px;
    width:250px;
    height:30px;
    margin-bottom: 20px;
}
